<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - AdminLTE</title>

    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="~/adminLTE/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/adminLTE/plugins/fontawesome-free/css/all.min.css">

</head>
<body class="login-page hold-transition layout-top-nav" style="min-height: 464px;">
    <div class="">
        <!-- Main content -->
        <div class="">
            @RenderBody()
        </div>
    </div>

    <!-- AdminLTE Scripts -->
    <script src="~/adminLTE/plugins/chart.js/Chart.min.js"></script>
    <script src="~/adminLTE/dist/js/adminlte.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>