<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <base href="~/adminlte/">
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <style>
        html, body {
            height: 100%;
        }

        .wrapper {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .content-wrapper {
            flex: 1;
        }
    </style>
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        @await Html.PartialAsync("_Navbar")

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!-- Footer Anda -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <strong>Pratikum MVC, Halaman @ViewData["Title"] <a href="https://adminlte.io">Agas29</a></strong> Anggoro
        </footer>

    </div>

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="dist/js/adminlte.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>