@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<style>
    /* CENTER DENGAN GRID */
    body {
        display: grid;
        place-items: center; /* Center horizontal & vertical sekaligus! */
        min-height: 100vh;
        margin: 0;
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }

    .login-box {
        width: 400px;
    }
</style>
@if (ViewBag.Error != null)
{
    <script>
        alert('@ViewBag.Error');
    </script>
}
    <div class="login-box">
        <div class="card card-outline card-primary">

            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Login</b>PAGE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Halaman Login</p>

            <form asp-controller="Login" asp-action="Login" method="post">
                    <div class="input-group mb-3">
                        <input type="text" name="username" class="form-control" placeholder="nama">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
