@{
    Layout = null; // Login tidak pakai layout utama
}
<!DOCTYPE html>
<html>
<head>
    <title>Login - AdminLTE</title>
    <link rel="stylesheet" href="~/adminlte/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- Login form AdminLTE style -->
    </div>
</body>
</html>